  .project-text {
    color: black;
  }

  .main-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
  }

  .center-img {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media (max-width: 990px){
    .main-grid {
      display: grid;
      grid-template-columns: 1fr;
      gap: 50px;
    }
    
  }
  
  