.whiteText{
    color: white;
}
.firstLayer{
    background-color: #001C30;
}

.secondLayer{
    background-color: #176B87;
}

.title{
    font-size: 5.8rem;
    text-align: justify;
}

.subText{
    font-size: 2rem;
    font-weight: lighter;
    text-align: justify;
}

.bodyText{
    font-size: 1.8rem;
    font-weight: lighter;
    text-align: justify;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    place-items: center;
}

.first{
    padding: 2rem;
    grid-row: span 2;
    max-width: fit-content;
    max-height: fit-content;
}
.second{
    padding: 2.5rem;
    padding-bottom: 2.5%;
    max-width: fit-content;
    max-height: fit-content;
}
.third{
    padding: 2.5rem;
    padding-top: 0%;
    max-width: fit-content;
    max-height: fit-content;
}

.roundEdges{
    border-radius: 15%;
}

.educationProgram{
    font-size: 2rem;
    font-weight: bold;
    text-align: left;
}

.educationProgramText{
    font-size: 1.5rem;
    font-weight: lighter;
    text-align: left;
}

.thirdLayer{
    background-color: #64CCC5;
}

.skillsText{
    font-size: 5rem;
}

.skillGrid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    padding: 1rem;
}

.skillPhoto{
    width: 100px;
}

.imageBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.image{
    width: 140px;
    height: 140px;
    position: relative;
    border-radius: 95px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header{
    text-align: center;
    color: #fff;
    padding: 1rem;
}

.subTitle{
    font-size: 4rem;
    font-weight: bold;
}

