.whiteText{
    color: white;
}
.firstLayer{
    background-color: #001C30;
}

.title{
    font-size: 5.8rem;
    text-align: justify;
}

.subText{
    font-size: 2rem;
    font-weight: lighter;
    text-align: justify;
}

.bodyText{
    font-size: 1.8rem;
    font-weight: lighter;
    text-align: justify;
}


.selfie{
    border-radius: 50%;
}