* {
    color: #fff;
}

.first-layer {
    background-color: #001C30;
}

.nav-text {
    color: #fff;
    font-weight: lighter;
    font-size: 1.75rem;
}

#menu-bar {
    display: none;
  }

label {
    color: #fff;
    font-weight: lighter;
    font-size: 1.75rem;
    cursor: pointer;
    display: none;
    margin-left: 50px;
}

.round-edges {
    border-radius: 15%;
}

.important-text {
    font-size: 5rem;
    font-weight: lighter;
    text-align: center;
}

.sub-title {
    font-size: 2rem;
    font-weight: lighter;
    text-align: justify;
}

.body-text {
    font-size: 1.8rem;
    font-weight: lighter;
    text-align: justify;
}

.second-layer {
    background-color: #176B87;
}

.header {
    text-align: center;
    padding: 1rem;
}

.header-text {
    font-size: 4rem;
    font-weight:lighter;
}

.program {
    font-size: 2rem;
    font-weight: bold;
    text-align: left;
}

.program-text {
    font-size: 1.5rem;
    font-weight: lighter;
    text-align: left;
}

.education-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    place-items: center;
    padding-top: 1rem;
    padding-bottom: 4rem;
}

.first-item {
    grid-row: span 2;
    max-width: fit-content;
    max-height: fit-content;
}
.second-item {
    padding-bottom: 2.5%;
    max-width: fit-content;
    max-height: fit-content;
}
.third-item {
    padding-top: 0%;
    max-width: fit-content;
    max-height: fit-content;
}

.third-layer{
    background-color: #64CCC5;
}

.skills-text{
    font-size: 2rem;
    font-weight: light;
    color: #fff;
}

.skills-grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    padding: 1rem;
}

.skill-photo{
    width: 70px;
}

.image-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.image{
    width: 120px;
    height: 120px;
    position: relative;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fourth-layer{
    background-color: #DAFFFB;
}

.footer-text{
    font-size: 1.5rem;
    font-weight: light;
    color: black;
}

@media (max-width: 990px){
    .skills-grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 2rem 50px;
    }

    .education-grid{
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px
    }

    .second-item {
        padding-bottom: 0%;
        padding-left: 10%;
    }

    .third-item {
        padding-left: 10%;
    }

    .important-text{
        font-size: 5.8rem;
        text-align: left;
        text-align: center;
    }
    
    .sub-title{
        font-size: 2rem;
        font-weight: lighter;
        text-align: left;
    }
    
    .body-text{
        font-size: 1.8rem;
        font-weight: lighter;
        text-align: left;
    }
   .selfie-image{
        display: flex;
        flex-direction: column;
        align-items: center;
   }

   label {
    display: initial;
  }
  
  .nav-bar {
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    background: #001C30;
    z-index: 1;
    display: none;
  }

  .nav-bar ul li {
    width: 100%;
  }

  #menu-bar:checked ~ .nav-bar {
    display: initial;
  }
}
@media (max-width: 650px){
    .skills-grid{
        display: grid;
        grid-template-columns: 1fr;
    }
    
    .selfie-image{
        display: flex;
        flex-direction: column;
        align-items: center;
   }
   
}


